header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $bg-color;
  padding: 18px 48px;
  box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.2);
}

.logo {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  color: $primary;
}

#menu-icon {
  display: block;
  cursor: pointer;
  margin-right: 10px;
  font-size: 2rem;
  display: none;
}

#menu-icon div {
  width: 25px;
  height: 3px;
  background-color: $navbar;
  margin: 5px;
}

@media (max-width: 768px) {
  #menu-icon {
    display: initial;
  }
  
}
